@media screen and (min-width: 760px){
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.memelist-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font: normal normal 10px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.memelist-container h2{
  margin-right: 38%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  background-color: black;
  color: whitesmoke;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.295);
  text-transform: uppercase;
  letter-spacing: 1vh;
}
.memelist{
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  max-height: 85vh;
  overflow:auto;
  overflow-x: hidden;
  width: fit-content;
}
.memelist .ticket-info{
  margin: auto;
  padding: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: minmax(auto);
  justify-items: baseline;
  align-items: center;
  min-width: 500px;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.295);
}
.memelist .ticket-icon{
  grid-row:1/4;
  grid-column: 1/2;
  min-width: 80px;
  max-width: 120px;
}
.memelist .ticket-name{
  margin-left: 20px;
  font-weight: bolder;
  font-size: 18px;
  grid-column-start: 2;
}
.memelist .ticket-price{
  font-size: 15px;
  margin-left: 20px;
  grid-column-start: 2;
}
.memelist .ticket-duration{
  font-size: 15px;
  margin-left: 20px;
  grid-column-start: 2;
}
.memelist .adminFunctions{
  grid-column: 3/4;
  grid-row: 1/4;
}
.memelist .consumerFunctions{
  grid-column: 3/4;
  grid-row: 1/4;
}
.memelist .consumerFunctions button{
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
}
.memelist .function{
  font-size: 17px;
  grid-column-start: 3;
  grid-row:1/4;
  background-color: black;
  border-radius: 8px; 
  margin: auto;
} 
.memelist .function a{
  color:whitesmoke;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.memelist .function span{
  color:whitesmoke;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.memelist .function button{
  color:white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  outline: none;
}

.memelist .function:hover {
  background-color: #d0ac35;
  border-radius: 8px; 
}
.memelist .function button:hover {
  background-color: #d0ac35;
  color: black;
  border-radius: 8px; 
}
.memelist .function a:hover{
  color: black;
}
.memelist .function span:hover{
  color: black;
}
}

@media screen and (max-width: 760px){

.memelist-container h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 100;
  background-color: black;
  color: whitesmoke;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.295);
  text-transform: uppercase;
  width: 18vh;
  margin-left: 10%;
  letter-spacing: 1vh;
}
.memelist .ticket-info{
  margin: auto; 
  padding: 10px;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: minmax(auto);
  justify-items: start;
  align-items: center;
  width:80%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.295);
}
.memelist .ticket-icon{
  min-width: 80px;
  max-width: 120px;
  grid-row: 1/4;
}
.memelist .ticket-name{
  margin-left: 16px;
  font-weight: bolder;
  font-size: 18px;
  grid-column: 2/3;
 
}
.memelist .ticket-price{
  font-size: 15px;
  margin-left: 20px;
  grid-column: 2/3;
} 
.memelist .ticket-duration{
  font-size: 15px;
  margin-left: 20px;
  grid-column: 2/3; 
}
.memelist .adminFunctions{
  grid-column: 3/4;
  grid-row: 1/4;
}
.memelist .consumerFunctions{
  grid-column: 3/4;
  grid-row: 1/4;
}
.memelist .function{
  font-size: 15px;
  grid-column-start: 3;
  background-color: black;
  border-radius: 8px; 
  margin: auto; 
}
.memelist .consumerFunctions button{
  background-color: black;
  border: none;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}
.memelist .function button{
  text-transform: uppercase;
  color:#d0ac35;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  outline: none;
}
.memelist .function a{
  color:whitesmoke;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.memelist .function span{
  color:whitesmoke;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.memelist .function:hover {
  background-color: #d0ac35;
  border-radius: 8px; 
}
.memelist .function button:hover {
  background-color: #d0ac35;
  color: black;
  border-radius: 8px; 
}
.memelist span:hover {
  background-color: #d0ac35;
  border-radius: 8px; 
  color: black;
}
.memelist .function a:hover{
  color: black;
}

}